<div class="row">
  <div class="col-4 m-t-30">
      <div class="card">
          <div class="card-body">
            <h4  class="header-title mb-3">Datos de la orden</h4>
            <small class="text">Número de orden</small>
            <h6>{{ order?.id }}</h6>
            <small class="text p-t-30 db">Código del cliente</small>
            <h6>{{ order?.customer?.code }}</h6>
            <small class="text p-t-30 db">Estado de orden</small>
            <h6>{{ order?.order_status?.name }}</h6>
            <small class="text p-t-30 db">Estado de pago/s</small>
            <h6>{{ order?.payment_status?.name }}</h6>
            <small class="text p-t-30 db">Dirección origen</small>
            <h6>{{ order?.pickup_address?.address}}</h6>
            <small class="text p-t-30 db">Dirección destinto</small>
            <h6>{{ order?.delivery_address?.address}}</h6>
          </div>
      </div>
  </div>
  <div class="row col-8">
    <div class="col-12 m-t-30">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de prendas</h4>
                <h6 class="card-subtitle mb-2 text-muted">Detalle</h6>
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Tipo de prenda</th>
                              <th>Cantidad</th>
                              <th>Precio unitario</th>
                              <th>Total</th>
                          </tr>
                      </thead>
                      <tbody>
                        @for (inventory of order?.clothing_inventories; track $index) {
                          <tr>
                              <td><h6>{{ inventory.clothing_type.name }}</h6></td>
                              <td><h6>{{ inventory.quantity }}</h6></td>
                              <td><h6>Bs. {{ inventory.clothing_type.unit_price }}</h6></td>
                              <td><h6>{{ inventory.clothing_type.unit_price * inventory.quantity }}</h6></td>
                          </tr>
                        }
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
    <div class="col-12 m-t-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de pagos</h4>
                <h6 class="card-subtitle mb-2 text-muted">Detalle de la Orden</h6>
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Fecha</th>
                              <th>Monto</th>
                          </tr>
                      </thead>
                      <tbody>
                        @for (payment of order?.payments; track $index) {
                          <tr>
                              <td><h6>{{ payment.created_at | date: 'MMM dd, yyyy' }}</h6></td>
                              <td><h6>Bs. {{ payment.amount }}</h6></td>
                          </tr>
                        }
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        Ubicación de las motos
        <br><br>
        <div #map style="width: 100%; height: 400px;"></div>
      </div>
    </div>
  </div>
</div>
