<div class="row">
  <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="./assets/images/icon/income.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-muted m-t-10 m-b-0">Ordenes Pendientes</h6>
                      <h2 class="m-t-0">{{ resume?.pending_orders }}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="./assets/images/icon/expense.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-muted m-t-10 m-b-0">Ordenes Cerradas</h6>
                      <h2 class="m-t-0">{{ resume?.closed_orders }}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="./assets/images/icon/assets.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-muted m-t-10 m-b-0">Total Ingresos</h6>
                      <h2 class="m-t-0">{{ resume?.payments_totals }}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="./assets/images/icon/staff.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-muted m-t-10 m-b-0">Riders Disponibles</h6>
                      <h2 class="m-t-0">{{ resume?.drivers_availables }}</h2></div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        Ubicación de las motos
        <br><br>
        <div #map style="width: 100%; height: 400px;"></div>
      </div>
    </div>
  </div>
</div>
